<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="plugin.video.abc_iviewjc">
    <category id="library" label="30030">
      <group id="1">
        <setting id="configure_library_integration"
                 type="action"
                 label="30038"
                 help="30039">
          <level>0</level>
          <data>RunScript($CWD/configure_library.py)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
